<!DOCTYPE html>
<html>
  <head>
    <title>DataFlair Django Form Tutorial</title>
  </head>
  <body>
    {% extends 'base.html' %} 
    {% block body_block %}
    <pre><center>
       
        <h1>Registration Form</h1>
        <h3>DataFlair Django Tutorials</h3>
        <h2>{{ html }}</h2>
        <form action = '' method="post">
            <!-- Very Important csrf Token -->
            {% csrf_token %}
        <table class="form-group">
            {{ form.as_table }}
        </table>
        <input type="submit" name="register" class="btn btn-primary">
    </form> 
 
    </center></pre> 
      {% endblock %}
  </body>
</html>
